/* Header.css */
.header-container {
  background-color: #00649b;
  display: flex;
  justify-content: center
}

.header-links-container {
  height: 60px;
}

.nav-link {
  display: flex;
  align-items: center;
  column-gap: 4px;
  color: #ffffff;
  fill: #ffffff;
  text-decoration: none;
  padding: 6px
}

/* .nav-link.active {
  background-color: #ffffff;
} */
